[Unit]
Description=Run Stream → Silver Transform every 60 seconds
Requires=stream_to_silver.service

[Timer]
OnBootSec=60
OnUnitActiveSec=60
Unit=stream_to_silver.service

[Install]
WantedBy=timers.target
